# Ignore .pyc files (compiled Python files)
*.pyc

# Ignore __pycache__ folders (created by Python 3.x)
__pycache__/

# Ignore any contents inside __pycache__ folders
__pycache__/**

# Ignore node_modules folder (common in JavaScript projects)
node_modules/

# Ignore any contents inside node_modules folder
node_modules/**

# Include only diaryProject and FE folders
!diaryProject/
!FE/


